{% for message in all_messages %}
  <li class="new side-bar-message" > 
    <div class="body" id="{{ message["groupID"] }}" onclick="loadGroup(event);"> 
      <div class="header interior-elem"> 
        <span class="username interior-elem">{{ message["nickname"] }}</span> 
        <small class="timestamp text-muted interior-elem"> 
          <i class="fa fa-clock-o interior-elem"></i>
          {{ message["sendTimestamp"] }}
        </small>
      </div>
    {% if message['username'] is None %}
    <p class="interior-elem" style="font-style: italic; color: green;"><b>System:</b> {{ message["content"] }}</p>
    {% else %}
    <p class="interior-elem" style="font-style: italic;"><b>{{ message["username"] }}:</b> {{ message["content"] }}</p>
    {% endif %}
    </div>
  </li>
{% endfor %}